@font-face {
  font-family: "Palmer Lake Print";
  src: url("https://www.bu.edu/cdn/fonts/Palmer-Lake-Print-Regular/font.woff2")
      format("woff2"),
    url("https://www.bu.edu/cdn/fonts/Palmer-Lake-Print-Regular/font.woff")
      format("woff");
  font-style: normal;
  font-weight: 700;
}

:root {
  --Button-Background: rgba(255, 255, 255, 0.1);
  --Button-Text: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: "Inter", sans-serif;
  color: #fff;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  width: 100%;
  z-index: 999;
}

header div {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.button-app,
.wrap button {
  display: flex;
  padding: 0.38rem 0.57rem;
  align-items: flex-start;
  align-self: stretch;
  color: #000;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
  /* 133.333% */
  border-radius: 624.9375rem;
  background: #fff;
  border: none;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.featured {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 1rem;
  bottom: 0rem;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  background: linear-gradient(180deg, rgba(99, 0, 0, 0) 0%, #000 75%, #000 75%);
}

video {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

.featured-title {
  font-family: "Palmer Lake Print", sans-serif;
  color: #f7945f;
  font-family: Palmer Lake Print;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  /* 111.111% */
}

.featured-chef {
  color: #fff;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
  /* 112.5% */
}

.menu {
  cursor: pointer;
}

.button-featured {
  border-radius: 624.9375rem;
  background: var(--Button-Background);
  display: flex;
  padding: 0.625rem;
  color: #fff;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  /* 142.857% */
  cursor: pointer;
  border: none;
  width: 6.25rem;
  height: 0.25rems;
  margin-bottom: 3rem;
  margin-top: -3rem;
}

.filter {
  margin-top: 3rem;
}

.filter div {
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  background: #171717;
  height: 3rem;
  max-width: 25rem;
  align-self: stretch;
  gap: 0.5rem;
  padding: 0.88rem 0.75rem;
}

.filter div input {
  border: none;
  width: 100%;
  background-color: transparent;
  color: #fff;
  outline: none;
  font-size: 1rem;
  font-family: Inter;
}

/* carousel */

.splide {
  width: 100%;
}

.splide .wrap h2 {
  font-family: Palmer Lake Print;
  font-size: 2.625rem;
}

.splide .wrap button {
  color: var(--Button-Text);
  display: grid;
  place-items: center;

  height: 2.25rem;
  padding-inline: 1rem;

  background: var(--Button-Background);
  align-self: flex-end;
  margin-bottom: 5px;
}

.splide .wrap {
  display: flex;
  justify-content: space-between;
}

.splide .splide__list {
  gap: clamp(0.5rem, -0.0282rem + 2.2535vw, 2rem);
}

.splide .splide__slide:first-child {
  margin-left: 1rem;
}

.splide .splide__slide img {
  width: clamp(10.4375rem, 8.1268rem + 9.8592vw, 17rem);

  border-radius: 24px;
  object-fit: cover;
  aspect-ratio: 3/4;
}
