@font-face {
  font-family: "Palmer Lake Print";
  src: url("https://www.bu.edu/cdn/fonts/Palmer-Lake-Print-Regular/font.woff2") format("woff2"),
    url("https://www.bu.edu/cdn/fonts/Palmer-Lake-Print-Regular/font.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

:root {
  --Button-Background: rgba(255, 255, 255, 0.1);
  --Button-Text: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: "Inter", sans-serif;
  color: #fff;
  width: 100%;
  height: 100vh;
}

aside {
  background: #000;
  display: none;
  flex-direction: column;
  border-right: 1px solid #191919;
  padding: 1.25rem;
  width: 105px;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

aside div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#logo-menu {
  width: 56px;
  height: 48px;
  margin-bottom: 20px;
}

aside div img {
  width: 24px;
  height: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  width: 100%;
  z-index: 999;
}

header div {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.button-app,
.wrap button {
  display: flex;
  padding: 0.38rem 0.57rem;
  align-items: flex-start;
  align-self: stretch;
  color: #000;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
  /* 133.333% */
  border-radius: 624.9375rem;
  background: #fff;
  border: none;
}

.hero-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.featured {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 2rem;
  bottom: 0rem;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  background: linear-gradient(180deg, rgba(99, 0, 0, 0) 0%, #000 75%, #000 75%);
}

video {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

.featured-title,
.featured-title-desktop {
  font-family: "Palmer Lake Print", sans-serif;
  color: #c1b567;
  font-family: Palmer Lake Print;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  /* 111.111% */
}

.featured-chef {
  color: #fff;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
  /* 112.5% */
}

.menu {
  cursor: pointer;
}

.button-featured {
  border-radius: 624.9375rem;
  background: var(--Button-Background);
  display: flex;
  padding: 0.625rem;
  color: #fff;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  /* 142.857% */
  cursor: pointer;
  border: none;
  width: 6.25rem;
  height: 0.25rems;
  margin-bottom: 3rem;
  margin-top: -3rem;
}

.button-featured-desktop {
  border-radius: 624.9375rem;
  background: var(--Button-Background);
  padding: 0.5rem;
  color: #fff;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.25rem;
  /* 142.857% */
  cursor: pointer;
  border: none;
  width: 8rem;
  height: 1.1rems;
  padding: 0.5rem;
}

.cards-featured {
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.card {
  position: relative;
  display: flex;
  cursor: pointer;
}

.card p {
  position: absolute;
  bottom: 0;
  padding: 1rem;
}

.card img {
  border-radius: 2rem;
  width: 220px;
  height: 310px;
  object-fit: cover;
}

.filter {
  margin-top: 3rem;
}

.filter div {
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  background: #171717;
  height: 3rem;
  max-width: 25rem;
  align-self: stretch;
  gap: 0.5rem;
  padding: 0.88rem 0.75rem;
}

.filter div input {
  border: none;
  width: 100%;
  background-color: transparent;
  color: #fff;
  outline: none;
  font-size: 1rem;
  font-family: Inter;
}

.download-app {
  display: none;
  align-items: center;
  gap: 0.75rem;
  border-radius: 3rem;
  font-weight: 700;
  border: none;
  padding: 1rem;
  align-items: end;
}

.hero-desktop {
  display: none;
  flex-direction: row;
}

.featured-desktop-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50rem;
}

.featured-desktop-container span {
  font-size: 2.5rem;
}

.featured-desktop-container h1 {
  font-size: 2.6rem;
}

.featured-desktop-container p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-container video {
  border-radius: 24px;
}

/* carousel */

.splide {
  width: 100%;
}

.splide .wrap h2 {
  font-family: Palmer Lake Print;
  font-size: 2.625rem;
}

.splide .wrap button {
  color: var(--Button-Text);
  display: grid;
  place-items: center;

  height: 2.25rem;
  padding-inline: 1rem;

  background: var(--Button-Background);
  align-self: flex-end;
  margin-bottom: 5px;
}

.splide .wrap {
  display: flex;
  justify-content: space-between;
}

.splide .splide__list {
  gap: 1rem;
}

.splide .splide__slide:first-child {
  margin-left: 1rem;
}

.splide .splide__slide img {
  width: 100%;
  max-width: 17rem;

  border-radius: 24px;
  object-fit: cover;
  aspect-ratio: 3/4;
}

/* carousel */

.splide {
  width: 100%;
}

.splide .wrap h2 {
  font-family: Palmer Lake Print;
  font-size: 2.625rem;
}

.splide .wrap button {
  color: var(--Button-Text);
  display: grid;
  place-items: center;

  height: 2.25rem;
  padding-inline: 1rem;

  background: var(--Button-Background);
  align-self: flex-end;
  margin-bottom: 5px;
}

.splide .wrap {
  display: flex;
  justify-content: space-between;
}

.splide .splide__list {
  gap: clamp(0.5rem, -0.0282rem + 2.2535vw, 2rem);
}

.splide .splide__slide:first-child {
  margin-left: 1rem;
}

.splide .splide__slide img {
  width: clamp(10.4375rem, 8.1268rem + 9.8592vw, 17rem);

  border-radius: 24px;
  object-fit: cover;
  aspect-ratio: 3/4;
}

/* carousel */

.splide {
  width: 100%;
}

.splide .wrap h2 {
  font-family: Palmer Lake Print;
  font-size: 2.625rem;
}

.splide .wrap button {
  color: var(--Button-Text);
  display: grid;
  place-items: center;

  height: 2.25rem;
  padding-inline: 1rem;

  background: var(--Button-Background);
  align-self: flex-end;
  margin-bottom: 5px;
}

.splide .wrap {
  display: flex;
  justify-content: space-between;
}

.splide .splide__arrows {
  display: none;
}

.splide:hover .splide__arrows {
  display: block;
}

.splide .splide__arrow:disabled {
  display: none;
}

.splide .splide__arrow {
  top: 60%;
  width: 50px;
  height: 50px;

  opacity: 1;
  background: #f1f1f1;
  transition: all 0.2s;
}

.splide .splide__list {
  gap: clamp(0.5rem, -0.0282rem + 2.2535vw, 2rem);
}

.splide .splide__slide:first-child {
  margin-left: 1rem;
}

.splide .splide__slide img {
  width: 100%;
}

.splide .splide__slide div {
  width: clamp(10.4375rem, 8.1268rem + 9.8592vw, 17rem);

  border-radius: 24px;
  object-fit: cover;
  aspect-ratio: 3/4;
}

.splide .splide__slide div p {
  position: absolute;

  width: clamp(8.75rem, 7.2095rem + 6.5728vw, 13.125rem);

  font-size: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
  font-weight: 600;

  bottom: 1.5rem;
  left: 1.5rem;
}

@media (min-width: 1024px) {
  .splide .splide__arrows {
    display: none;
  }

  .splide:hover .splide__arrows {
    display: none;
  }

  .hero-mobile,
  header,
  .button-featured {
    display: none;
  }

  body {
    display: flex;
  }

  .hero-desktop,
  aside,
  .download-app {
    display: block;
  }

  .download-app {
    display: flex;
  }

  .hero-desktop,
  aside {
    display: flex;
    gap: 4rem;
    margin: 6rem 0;
  }

  aside {
    margin-top: 0;
  }

  .container {
    margin-left: 150px;
  }

  .filter div input {
    width: 800px;
  }

  .filter {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}